<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ASPNETCORE2 | AdminLTE 2 | @ViewData["Title"]</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    
    @await Html.PartialAsync("_BasicStylesPartial")


    @RenderSection("Styles", required: false)

</head>
<body class="hold-transition skin-blue sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">

        @await Html.PartialAsync("_MainHeader")

        <!-- =============================================== -->
        <!-- Left side column. contains the sidebar -->
        @await Html.PartialAsync("_MainSidebar")

        @RenderBody()

        @await Html.PartialAsync("_Footer")

        <!-- Control Sidebar -->
        @await Html.PartialAsync("_ControlSidebar")
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
        immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->

    @await Html.PartialAsync("_BasicScriptsPartial")
    

    @RenderSection("Scripts", required: false)

</body>
</html>
